@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item {
        @apply hover:underline decoration-green-500 decoration-4 underline-offset-4;
    }

    .social-media-icon {
        @apply text-emerald-500 border-2 border-emerald-500 rounded-full hover:text-slate-500 hover:border-slate-500 cursor-pointer;
    }
}

body {
    background-image: url('logo.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px)
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px)
}